---
import BlogLayout from "../../layouts/Blog.astro";
---

<BlogLayout>
  <div class="bg-luis-blue-lighter pt-32 pb-14 px-20 w-full md:pb-10 lg:pt-24">
    <h1 class="text-2xl font-bold text-center">¿Que es esto?</h1>
    <p class="text-justify text-lg mt-5">
      Un blog lleno de aprendizajes y descubrimientos. Exploro diversos temas y
      comparto mis investigaciones. Aprende conmigo y encuentra consejos útiles.
      Únete a esta emocionante aventura de conocimiento.
    </p>
  </div>
</BlogLayout>
