---
import Proyecto from "../components/expoferia/proyecto.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expoferia 2023 UTP</title>
  </head>
  <body class="text-white">
    <div
      class="flex flex-col justify-between p-5 bg-slate-950 pb-48 h-min-screen"
    >
      <div class="w-full text-center text-3xl font-bold">
        Expoferia 2023 UTP
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:px-36 h-full w-full justify-center items-center z-10 gap-6 mt-8"
      >
        <Proyecto
          title="Curso de Javascript"
          description="Fundamentos de Javascript para principiantes"
          content="Javascript es el lenguaje de la web. Es un lenguaje de scripting en cualquier entorno desde aplicacion..."
          tag="curso"
          date="hace 18 dias"
          techs={["js", "java", "css"]}
        />
        <Proyecto
          title="Curso de Javascript"
          description="Fundamentos de Javascript para principiantes"
          content="Javascript es el lenguaje de la web. Es un lenguaje de scripting en cualquier entorno desde aplicacion..."
          tag="curso"
          date="hace 18 dias"
          techs={["js", "java", "css"]}
        />
        <Proyecto
          title="Curso de Javascript"
          description="Fundamentos de Javascript para principiantes"
          content="Javascript es el lenguaje de la web. Es un lenguaje de scripting en cualquier entorno desde aplicacion..."
          tag="curso"
          date="hace 18 dias"
          techs={["js", "java", "css"]}
        />
        <Proyecto
          title="Curso de Javascript"
          description="Fundamentos de Javascript para principiantes"
          content="Javascript es el lenguaje de la web. Es un lenguaje de scripting en cualquier entorno desde aplicacion..."
          tag="curso"
          date="hace 18 dias"
          techs={["js", "java", "css"]}
        />
        <Proyecto
          title="Curso de Javascript"
          description="Fundamentos de Javascript para principiantes"
          content="Javascript es el lenguaje de la web. Es un lenguaje de scripting en cualquier entorno desde aplicacion..."
          tag="curso"
          date="hace 18 dias"
          techs={["js", "java", "css"]}
        />
      </div>
      <div
        class="fixed w-full h-96 top-full -translate-y-1/3 rounded-full bg-red-950 blur-3xl z-0"
      >
      </div>
    </div>
  </body>
</html>
