---
import { ReactComponent as Github } from "@assets/icons/github.svg";
import { ReactComponent as Linkedin } from "@assets/icons/linkedin.svg";
import { ReactComponent as Youtube } from "@assets/icons/youtube.svg";
import { ReactComponent as People } from "@assets/icons/people.svg";
import { ReactComponent as GlobeLatam } from "@assets/icons/globe-latam.svg";
import { ReactComponent as GraduationCap } from "@assets/icons/graduation-cap.svg";
import MainLayout from "../layouts/MainLayout.astro";
import Comment from "../components/comment/index.astro";
import FeaturedWall from "../components/featured-wall/index.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const comments = (await getCollection("comments"))
  .filter((x) => ["fernando-diaz", "jorge-contreras"].includes(x.id))
  .map((x) => x.data);
---

<MainLayout>
  <!-- Header -->
  <div class="bg-blue w-full text-gray flex flex-col items-center pt-36">
    <h1 class="font-mono text-4xl md:text-8xl flex group gap-4 px-16">
      <span class="group-hover:text-rose text-nowrap text-white/80"
        >Hi! I'm</span
      >
      <span class="group-hover:text-light_blue text-nowrap text-white/80"
        >Luis Bazan!</span
      >
    </h1>
    <p class="text-center w-3/4 md:w-1/2 mt-8">
      I’m all about building meaningful tech projects, teaching what I learn,
      and connecting people through creativity. Currently crafting innovative
      solutions at the intersection of engineering, community, and education.
    </p>
    <ul class="mt-4 mb-16 flex gap-4 items-center">
      <li>
        <a
          href="https://github.com/luisbazandev"
          class="flex hover:rotate-12 hover:text-light_blue transition-transform w-9 p-1"
          ><Github /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/luisbazandev/"
          class="flex hover:rotate-12 hover:text-rose transition-transform w-9 p-1"
          ><Linkedin /></a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/@luisbazandev"
          class="flex hover:rotate-12 hover:text-light_blue transition-transform w-9 p-1"
          ><Youtube /></a
        >
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 h-min bg-white/40">
    <div
      class="grayscale hover:grayscale-0 relative overflow-hidden w-full min-h-96 aspect-[3/4]"
    >
      <img
        src="/img/community-lead.jpg"
        alt="Picture of Luis Bazan"
        class="h-full absolute w-full object-cover object-bottom"
        loading="lazy"
      />
    </div>
    <div class="flex flex-col p-8 md:p-24 text-blue gap-8 justify-center">
      <h2 class="font-mono text-5xl">COMMUNITY LEADER, Developer & Educator</h2>
      <p class="">
        I believe that knowledge grows when shared. That’s why I lead and
        support student communities focused on tech, creativity, and
        collaboration.
        <br />
        <br />
        From organizing workshops and study sessions to building tools that empower
        others, I help people learn, build, and connect — together.
      </p>
      <h3 class="font-mono text-3xl">HIGHLIGHTS</h3>
      <ul class="flex flex-col gap-8">
        <li class="bg-white flex p-6 gap-4">
          <div><People class="w-6 text-blue/80" /></div>
          <span
            >Built a community of students who grow by teaching each other.</span
          >
        </li>
        <li class="bg-white flex p-6 gap-4">
          <div><GraduationCap class="w-6 text-blue/80" /></div>
          <span
            >Mentored fellow students through projects, talks, and one-on-one
            sessions.</span
          >
        </li>
        <li class="bg-white flex p-6 gap-4">
          <div><GlobeLatam class="w-6 text-blue/80" /></div>
          <span
            >Created events that combine tech, creativity, and local culture to
            make learning more engaging and meaningful.</span
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col text-blue p-8 md:p-24 items-center gap-24">
    <h3 class="font-mono text-4xl md:text-5xl">Hear it from others</h3>
    <div
      class="grid grid-cols-1 md:grid-cols-2 px-4 w-full md:w-3/4 lg:w-3/5 gap-16"
    >
      {
        comments.map((comment) => (
          <Comment
            authorName={comment.name}
            authorPosition={comment.role}
            authorImage={comment.image}
            content={comment.comment}
          />
        ))
      }
    </div>
  </div>
  <div class="flex flex-col items-center py-24 gap-8 text-blue">
    <h3 class="font-mono text-4xl md:text-5xl">Worked Together</h3>
    <FeaturedWall
      images={[
        "/img/logos/utp.svg",
        "/img/logos/mto.png",
        "/img/logos/colegio-san-fernando.png",
        "/img/logos/spacemood.webp",
        "/img/logos/wara-horizons.webp",
      ]}
    />
  </div>
  <div class="flex flex-col py-40 items-center text-blue gap-8">
    <h3 class="font-mono text-4xl md:text-5xl">WORK WITH ME</h3>
    <p class="">Let's build the future 🚀</p>
    <ul class="flex flex-col md:flex-row gap-8 md:gap-4">
      <li>
        <a
          href="mailto:me@luisb.space"
          class="py-3 px-6 rounded-full bg-gray hover:bg-rose transition-colors hover:text-gray"
          >Send me an email</a
        >
      </li>
      <li>
        <a
          href="/work"
          class="py-3 px-6 rounded-full bg-gray hover:bg-rose transition-colors hover:text-gray"
          >View my projects</a
        >
      </li>
    </ul>
  </div>
  <Footer />
</MainLayout>
