---
import MainLayout from "../layouts/MainLayout.astro";
import { ReactComponent as Github } from "@assets/icons/github.svg";
import { ReactComponent as Linkedin } from "@assets/icons/linkedin.svg";
import { ReactComponent as Youtube } from "@assets/icons/youtube.svg";
import { Image } from "astro:assets";
---

<MainLayout>
  <!-- Header -->
  <div class="bg-blue w-full text-gray flex flex-col items-center pt-36">
    <h1 class="font-mono text-4xl md:text-8xl flex group gap-4 px-16">
      <span class="group-hover:text-rose text-nowrap text-white/80"
        >Hi! I'm</span
      >
      <span class="group-hover:text-light_blue text-nowrap text-white/80"
        >Luis Bazan!</span
      >
    </h1>
    <p class="text-center w-3/4 md:w-1/2 mt-8">
      I’m all about building meaningful tech projects, teaching what I learn,
      and connecting people through creativity. dCurrently crafting innovative
      solutions at the intersection of engineering, community, and education.
    </p>
    <ul class="mt-4 mb-16 flex gap-4 items-center">
      <li>
        <a
          href="https://github.com/luisbazandev"
          class="flex hover:rotate-12 hover:text-light_blue transition-transform w-9 p-1"
          ><Github /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/luisbazandev/"
          class="flex hover:rotate-12 hover:text-rose transition-transform w-9 p-1"
          ><Linkedin /></a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/@luisbazandev"
          class="flex hover:rotate-12 hover:text-light_blue transition-transform w-9 p-1"
          ><Youtube /></a
        >
      </li>
    </ul>
  </div>
  <div class="flex flex-col md:grid md:grid-cols-2">
    <div class="w-full grayscale hover:grayscale-0 aspect-square">
      <Image
        src=""
        alt=""
        class="object-cover h-full"
        inferSize
        loading="lazy"
      />
    </div>
    <div class="p-24">
      <h2 class="font-mono text-blue text-5xl">COMMUNITY LEADER</h2>
    </div>
  </div>
</MainLayout>
