---
import { ReactComponent as Github } from "@assets/icons/github.svg";
---

<div class="bg-blue flex w-full text-gray flex-col items-center py-8 gap-4">
  <a href="https://github.com/luisbazandev" class="hover:text-rose">
    <Github class="inline w-6 mr-2" />
    <span>Check my open source code</span>
  </a>
  <p>© 2025 Luis Bazan. All rights reserved.</p>
</div>
