<div
  id="contact"
  class="flex justify-center items-center py-40 bg-luis-blue-dark text-luis-blue font-inconsola"
>
  <a
    href="mailto:luis@bazan.pe"
    class="flex flex-col items-center md:text-lg lg:text-xl"
  >
    <div class="font-bold">luis@bazan.pe</div>
    <div class="font-normal">Contact Me</div>
  </a>
</div>
