---
type Props = {
  year: string;
  title: string;
  imageUrl?: string;
};
const { year, title, imageUrl } = Astro.props;
---

<div class="flex gap-2" id={`period-${year}`}>
  <div class="flex flex-col items-center relative">
    <div class="bg-blue/80 w-5 aspect-1 rounded-full"></div>
    {
      year === "Today" && (
        <div class="bg-white w-3 aspect-1 absolute rotate-45 left-1 top-1" />
      )
    }
    <div class="w-[1px] h-full bg-blue"></div>
  </div>
  <div class="flex flex-col pb-16 w-full relative">
    <span class="text-blue text-sm -top-5 absolute">{year}</span>
    <h3 class="font-mono text-3xl text-slate-950 -mt-1">{title}</h3>
    <div class="text-lg text-slate-950 mt-3 mb-4 text-pretty"><slot /></div>
    <div
      class="w-full aspect-w-4 aspect-h-3 relative overflow-hidden rounded-lg"
    >
      <img
        src={imageUrl}
        alt=""
        class="absolute w-full h-full object-cover hover:scale-105 transition-all duration-700 hover:grayscale-0 grayscale"
      />
    </div>
  </div>
</div>
