---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Luis Bazán</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header base="blog" />
    <div
      class="h-auto w-full flex justify-center absolute mt-14 bg-luis-blue font-bold"
    >
      Blog
    </div>
    <slot />
    <Footer />
  </body>
</html>
