---
import "../styles/global.css";
import Nav from "../components/nav/index.astro";

type Props = {
  title?: string;
};

const { title = "Community Leader, Developer & Educator" }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>Luis Bazan - {title}</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="I'm systems engineering and computer science student at the Technological University of Peru. Lover of code and technology, every day I learn something new about programming or new technologies"
    />
    <meta name="robots" content="index, follow" />
  </head>
  <body class="w-full overflow-x-hidden bg-light_blue/20">
    <Nav />
    <slot />
  </body>
</html>
